shortcuts-backend/Thumbs.db
shortcuts-backend/.DS_Store
shortcuts-backend/.gradle
shortcuts-backend/build/
shortcuts-backend/.idea
shortcuts-backend/*.iml
shortcuts-backend/*.ipr
shortcuts-backend/*.iws
shortcuts-backend/.project
shortcuts-backend/.settings
shortcuts-backend/.classpath
